 
body{
	font-family: "Microsoft JhengHei", sans-serif;
	background-color: #FFF;
}

/*  #F1F2F6; */
/*************************/
/*          nav          */
/*************************/
.nav-wrapper{
	background-color: #323F4F;   
}


.brand-logo{
	margin-left: 8px;
	font-family: 'Montserrat', sans-serif;	 
}

.brand-logo img{
	width: 128px;
	height: 28px; 
}



.parallax-container{
	display:flex; 
	justify-content:center;
	align-items:center;
}

.header{
	display:flex; 
	justify-content:flex-start;
	flex-direction:column;
}

.header h4{
	font-family: 'Questrial', sans-serif;
	color: #fff;
	font-size: 30px;
	margin-left: 8px;

}

.header h1{
	font-family: 'Lato', sans-serif; 
	color: #fff;
	font-size: 75px;
	margin-top: -30px;

}

.collapsible-header{
	border-bottom: 0px solid gray;
}
.title{
	color: #039be5;
}
.stationStatus_alarm{
	color:#D50000;
}

.stationStatus_offline{
	color : #BDBDBD;
}

.stationStatus_running{
	color: #23E13C;
}


